@use './styles.scss';
@use './reset.scss';

$font: "SamsungOne 400";
$font-bold: "SamsungOne 700";

$bd-rad-sm: 0.25rem;
$bx-shadow-sm: 0rem 0.25rem 0.5rem rgb(236, 236, 236);

$bg-color: #F8F8F8;
$white-c: rgb(255, 255, 255);
$font-color-gray: #767676;
$samsung-blue: #1428A0;

body {
    background-color: $bg-color;
    font-family: $font;
    letter-spacing: -1%;
}

.section-header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white-c;
}

.section-title-name {
    padding: 0.5rem 0;
    padding-bottom: 0.75rem;
    font-family: $font-bold;
    font-size: 2.5rem;
}


.container-out {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-in {
    max-width: 67rem;
    width: 100%;
}

.container-filter-out {}

.container-filter-in {}


.filter-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 1.25rem;
    padding-bottom: 0;
    gap: 1rem;
}


.search-input {
    max-width: 15rem;
    width: 100%;
    font-size: 0.85rem;

    padding: 0.5rem;
    padding-left: 0.75rem;
    margin-top: 0.25rem;
    margin-right: 5rem;

    box-shadow: $bx-shadow-sm;
    border-radius: $bd-rad-sm;
    background-color: $white-c;
}

.filter-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;

    gap: 0.75rem;
    max-width: 62rem;
    width: 100%;

    margin-top: 0.75rem;
}


.menu-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.menu-item-header span {
    font-size: 1.10rem;
    font-family: $font-bold;
}

.options-box {
    font-size: 0.85rem;
    width: 100%;
}

.option {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    padding: 0.5rem;
    padding-left: 0.75rem;
    margin-top: 0.5rem;

    box-shadow: $bx-shadow-sm;
    border-radius: $bd-rad-sm;
    background-color: $white-c;
}

// arrow setup
.option img {
    visibility: hidden;
}

.option img::after {
    content: '';
    position: absolute;
    visibility: visible;

    top: 0.75rem;
    left: 13.25rem;

    background-image: url('/assets/images/arrow/arrow.svg');

    height: 10px;
    width: 13px;
}

// .selected {}

// .selected-option {}

// .selected-option span {}

// .non-selected {}

// =====================================

.container-counter-out {}

.container-counter-in {
    max-width: 63.5rem;
    width: 100%;
    padding: 0.75rem;
}

.product-counter {
    font-size: 0.85rem;
}

// =====================================

.container-listing-out {
    width: 100%;
}

.container-listing-in {
    // max-width: 63.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-listing {}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 21rem);

    column-gap: 1rem;
    row-gap: 1.25rem;
}

.card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1rem 1.5rem;
    padding-top: 0;
    padding-bottom: 2rem;
    border-radius: 1.5rem;

    background-color: $white-c;
    box-shadow: $bx-shadow-sm;

}

.product-image {
    margin-top: 1.5rem;
    width: 250px;
    height: 'auto';
}

.card-body {
    display: flex;
    flex-direction: column;
}


.product-name {
    min-height: 3.25rem;
    font-size: 1.12rem;

    margin-top: 0.5rem;

    font-family: $font-bold;
}

.product-info-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    margin-top: 2rem;
}

.product-info-item {
    color: $font-color-gray;
    font-size: 0.80rem;
}

.product-info-value {
    color: black;
    font-family: $font-bold;
}

.energy-info {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 1rem 0;
}

.energy-value {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-image: url('/assets/images/energy_class/class_bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 3rem;
    height: 1.5rem;
    padding-left: 0.5rem;
    margin-left: 0.5rem;

    color: $white-c;
}

.product-price {
    display: flex;
    align-items: flex-start;
    margin-top: 0.25rem;
}

.price-value {
    line-height: 1;
    font-size: 2.5rem;
    font-family: $font-bold;
}

.price-value-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    margin-top: 0.3rem;
    margin-left: 0.3rem;

    font-family: $font-bold;
    font-size: 0.9rem;

    height: 80%;
}

.price-value-right p {
    margin: 0;
    line-height: 1;
}

.installments {
    margin-top: 0.5rem;
    color: #555555;
    font-family: $font-bold;
}

.product-btn {
    max-width: 10rem;
    width: 100%;

    letter-spacing: 0.12rem;

    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;

    background-color: $samsung-blue;
    color: $white-c;
    font-family: $font-bold;
}

footer {
    padding: 1rem;
    text-align: center;
}